.countries-container {
  background: url("../../assets/hero-image-wr.jpg") no-repeat;
  background-size: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  min-height: 190px;
  @media (max-width: 768px) {
    padding: 10px;
  }

  .logo-countries {
    background: url("../../assets/logo_countries.svg") no-repeat;
    background-size: 250px;
    width: 250px;
    height: 30px;
    margin: 140px;
    @media (max-width: 768px) {
      margin: 20px;
    }
  }

  .countries-list-container {
    padding: 4em 2em;
    color: var(--text-color);
    background: #1b1d1f;
    width: 90%;
    border-radius: 25px;
    min-height: 400px;
  }
}
