<div class="countries-container">
  <i class="logo-countries"></i>

  <div class="countries-list-container">
    <div class="header-countries">
      <div>Found countries {{ countriesList.length }}</div>
      <mat-form-field>
        <mat-icon matPrefix>search</mat-icon>
        <mat-label>Search by Name, Region, SubRegion </mat-label>
        <input matInput />
      </mat-form-field>
    </div>
    <div class="list-container">
      <div class="filter-table">
        <div>Region:</div>
        <button
          *ngFor="let region of listRegion"
          mat-raised-button
          [color]="regionSelected.includes(region) ? 'primary' : 'basic'"
        >
          {{ region }}
        </button>

        <div>Status:</div>
        <mat-checkbox class="" color="primary" [(ngModel)]="member"
          >Member of the United Nations</mat-checkbox
        >
        <mat-checkbox class="" color="primary" [(ngModel)]="independent"
          >Independent</mat-checkbox
        >
      </div>
      <div class="container-table">
        <table
          mat-table
          matSort
          (matSortChange)="sortData($event)"
          [dataSource]="sortedData"
          class="mat-elevation-z8 demo-table"
        >
          <!-- flag Column -->
          <ng-container matColumnDef="flag">
            <th mat-header-cell *matHeaderCellDef>Flag</th>
            <td mat-cell *matCellDef="let element" class="size-flag">
              {{ element.flag }}
            </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th mat-sort-header mat-header-cell *matHeaderCellDef>Name</th>
            <td mat-cell *matCellDef="let element">
              {{ element.name.official }}
            </td>
          </ng-container>

          <!-- population Column -->
          <ng-container matColumnDef="population">
            <th mat-sort-header mat-header-cell *matHeaderCellDef>
              Population
            </th>
            <td mat-cell *matCellDef="let element">
              {{ element.population.toLocaleString("es-MX") }}
            </td>
          </ng-container>

          <!-- area Column -->
          <ng-container matColumnDef="area">
            <th mat-sort-header mat-header-cell *matHeaderCellDef>Area(Km²)</th>
            <td mat-cell *matCellDef="let element">
              {{ element.area.toLocaleString("es-MX") }}
            </td>
          </ng-container>

          <!-- region Column -->
          <ng-container matColumnDef="region">
            <th mat-sort-header mat-header-cell *matHeaderCellDef>Region</th>
            <td mat-cell *matCellDef="let element">{{ element.region }}</td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
      </div>
    </div>
  </div>
</div>
