<mat-card class="example-card">
  <div *ngIf="coffee.popular" class="container-label">
    <p class="label">Popular</p>
  </div>
  <img mat-card-image [src]="coffee.image" width="100%" height="200" />
  <div class="container-details">
    <div class="container-detail-row-1">
      <div class="container-name">
        <p class="name">{{ coffee.name }}</p>
      </div>
      <div class="container-price">
        <p class="price">{{ coffee.price }}</p>
      </div>
    </div>
    <div class="container-detail-row-2">
      <div>
        <span class="rates-and-votes"
          ><img src="./assets/Star_fill.svg" alt="Star Fill" />
          {{ coffee.rating }}({{ coffee.votes }} votes)</span
        >
      </div>
      <div *ngIf="!coffee.available">
        <span class="available">Sold out</span>
      </div>
    </div>
  </div>
</mat-card>
