<div class="card-translate">
  <div class="header-translate">
    <label id="example-radio-group-label">Detect Language</label>
    <button mat-raised-button color="basic">English</button>
    <button mat-raised-button color="basic">French</button>
    <button mat-raised-button color="basic">Spanish</button>
  </div>

  <mat-form-field appearance="fill">
    <mat-label>Textarea</mat-label>
    <textarea
      matInput
      matTextareaAutosize
      style="resize: none"
      [(ngModel)]="value"
    ></textarea>
  </mat-form-field>

  <div class="button-translate">
    <div>
      <button mat-icon-button matTooltip="Basic" aria-label="Copy">
        <mat-icon>content_copy</mat-icon>
      </button>
    </div>
    <button *ngIf="translated" mat-flat-button color="primary">
      Translate
    </button>
  </div>
</div>
