<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style></style>

<main class="main">
  <mat-toolbar color="Basic">
    <a mat-stroked-button href="/">Home</a>
    <a mat-stroked-button href="/coffee">Coffee example</a>
    <a mat-stroked-button href="/translate">Translate example</a>
    <a mat-stroked-button href="/countries">Countries example</a>
  </mat-toolbar>
  <router-outlet />
</main>
