.mdc-button {
  border-radius: 25px;
}

.card-translate {
  padding: 20px;
  background-color: #212534;
  color: white;
  border: solid 1px black;
  display: flex;
  flex-direction: column;
  gap: 16px;
  border-radius: 25px;

  .header-translate {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    align-items: center;
  }
  .button-translate {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

mat-form-field {
  width: 100%;
  min-height: 200px;
}
.mat-form-field.fill-container,
.mat-form-field.fill-container .mat-form-field-infix,
.mat-form-field.fill-container .mat-form-field-flex,
.mat-form-field.fill-container .mat-form-field-wrapper {
  height: 100%;
  width: 100%;
}

.mat-form-field.fill-container textarea {
  height: calc(100% - 25px);
}
.mdc-label {
  color: white;
}
