<div class="card-translate">
  <div class="header-translate">
    <label>{{ disabled ? "Translate to" : "Detect Language" }}</label>
    <button
      mat-raised-button
      [color]="optionTranslate === LANGUAGE_TYPE.EN ? 'primary' : 'basic'"
      (click)="changeOptionValue(LANGUAGE_TYPE.EN)"
    >
      English
    </button>
    <button
      mat-raised-button
      [color]="optionTranslate === LANGUAGE_TYPE.FR ? 'primary' : 'basic'"
      (click)="changeOptionValue(LANGUAGE_TYPE.FR)"
    >
      French
    </button>
    <button
      mat-raised-button
      [color]="optionTranslate === LANGUAGE_TYPE.ES ? 'primary' : 'basic'"
      (click)="changeOptionValue(LANGUAGE_TYPE.ES)"
    >
      Spanish
    </button>
  </div>

  <textarea
    matInput
    matTextareaAutosize
    style="resize: none"
    [(ngModel)]="value"
    [disabled]="disabled"
  ></textarea>

  <div class="button-translate">
    <div>
      <button
        mat-icon-button
        matTooltip="Basic"
        aria-label="Copy"
        (click)="audioText()"
      >
        <mat-icon>volume_up</mat-icon>
      </button>
      <button
        mat-icon-button
        matTooltip="Basic"
        aria-label="Copy"
        (click)="copyText()"
      >
        <mat-icon>content_copy</mat-icon>
      </button>
    </div>
    <button
      class="button-translate-size"
      *ngIf="translated"
      mat-flat-button
      color="primary"
      (click)="translateText()"
    >
      <mat-icon>translate</mat-icon>
      Translate
    </button>
  </div>
</div>
